{% extends "./page.html" %}

{% block title %}{{ "SUMMARY"|t }}{% endblock %}

{% macro articles(_articles, plevel) %}
    {% for article in _articles %}
        <li>
            <span class="inner">
                {% if article.path or article.url %}
                    {% if article.path %}
                        <a href="{{ article.path|contentURL }}{{ article.anchor }}">{{ article.title }}</a>
                    {% else %}
                        <a target="_blank" href="{{ article.url }}">{{ article.title }}</a>
                    {% endif %}
                {% else %}
                    <span>{{ article.title }}</span>
                {% endif %}
                {% if plevel %}
                <span class="page">{{ article.level | replace(plevel+'.1', plevel, 1) }}</span>
                {% else %}
                <span class="page">{{ article.level }}</span>
                {% endif %}
            </span>
            {% if article.articles.length > 0 %}
            <ol>
                {{ articles(article.articles, plevel) }}
            </ol>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% block page %}
<div class="section toc">
    <h1>{{ "SUMMARY"|t }}</h1>
    <ol>
        {% for part in summary.parts %}
            {% if part.title %}
            <li class="part-title">
                <h2>{{ part.title }}
                    {% if (part.articles | length == 1) and (part.articles[0].articles | length > 0) %}
                        <a href="{{ part.articles[0].path|contentURL }}{{ part.articles[0].anchor }}"></a>
                    {% endif %}
                </h2>
            </li>
            {% endif %}

            {% if (part.articles | length == 1) and (part.articles[0].articles | length > 0) %}
                {{ articles(part.articles[0].articles, part.articles[0].level | list | first ) }}
            {% else %}
                {{ articles(part.articles) }}
            {% endif %}

            {% if not loop.last %}
            <li class="divider"></li>
            {% endif %}
        {% endfor %}

        {% if glossary.path %}
        <li>
            <span class="inner">
                <a href="{{ ('/' + glossary.path)|contentURL }}">{{ "GLOSSARY"|t }}</a>
            </span>
        </li>
        {% endif %}
    </ol>
</div>
{% endblock %}

